* {
    padding: 0;
    margin: 0;
}

/* nav #1 */

.titulo {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-bottom: 1px solid rgb(224, 224, 224);
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.titulo button {
    background-color: transparent;
    border: transparent;
    font-size: 30px;
    position: fixed;
    top: -6px;
    right: 10px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.titulo button :hover {
    border: 1px solid transparent;
}

.titulo .icono-zapatos {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 10px;
    right: 60px;
    width: 20px;
}

.titulo .icono-menu {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 10px;
    right: 15px;
    width: 20px;
}

/* información del usuario */

header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.texto-perfil {

    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.contenedor-foto-perfil {
    width: 100%;
    display: flex;
    justify-content: center;
}

#foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
} 

#id-usuario {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos h5 {
    color: #9d9d9d;
}

#icono-agregar-usuario {
    height: 15px;
}

/* contenedor que junta todo los datos del usuario y los convierte en flex */

.unir {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.unir button {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    border-radius: px;
    padding: 4px;
    transition: border 0.3s ease;
    margin-bottom: 10px;
}   

.unir button :hover {
    border: 2px solid transparent;
}

#icono-agregar-usuario {
    width: 15px;
}

.mensaje-propio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 5px;
}

.mensaje-propio p {
    margin-bottom: 5px;
}

.enlace {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.texto-perfil a {
    color: red;
    text-decoration: none;
}

/* nav #2 */

.nav-videos {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(134, 24, 24);
    /* border-top: 1px solid rgb(224, 224, 224); */
}

.nav-videos button {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: border 0.3s ease;
}

.nav-videos button :hover {
    border: 2px solid transparent;
}

.nav-videos .activado{
    border-bottom: 2px solid black;
    width: 25px;   
}

.nav-videos img {
    height: 23px;
}

/* contenido principal: videos */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    margin-bottom: 72px;
}


main img {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

/* menú inferior */

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

footer button {
    border: none;
    background: transparent;
}

footer button img{
    height: 40px;
}

.icon-tiktok {
    height: 65px;
    border: 1px solid red;
}

.icon-discover {
    height: 45px;
    margin-top: -5px;
}


